<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="accountservice" class="com.easyarch.service.Impl.AccountServiceImpl"></bean>


    <bean id="printlog" class="com.easyarch.utils.Log"></bean>


    <!--public void com.easyarch.service.Impl.AccountServiceImpl-->
    <!--配置aop-->
    <aop:config>
        <aop:aspect id="xxx" ref="printlog">
            <aop:before method="printLog" pointcut="execution(public void com.easyarch.service.Impl.AccountServiceImpl.saveAccount())"></aop:before>
        </aop:aspect>
    </aop:config>



</beans>